#version: '3.8'
#services:
#  app:
#    container_name: unifiedresto-app
#    build:
#      context: .
#      dockerfile: Dockerfile
#    ports:
#      - "8080:8080"
#    environment:
#      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/unifiedresto_db
#      SPRING_DATASOURCE_USERNAME: unifiedresto_user
#      SPRING_DATASOURCE_PASSWORD: secret
#      SPRING_JPA_HIBERNATE_DDL_AUTO: update
#    depends_on:
#      - postgres
#    networks:
#      - unifiedresto-network
#  postgres:
#    container_name: unifiedresto-postgres
#    image: postgres:latest
#    environment:
#      POSTGRES_DB: unifiedresto_db
#      POSTGRES_USER: unifiedresto_user
#      POSTGRES_PASSWORD: secret
#    ports:
#      - "5432:5432"
#    volumes:
#      - postgres_data:/var/lib/postgresql/data
#    networks:
#      - unifiedresto-network
#  pgadmin:
#    container_name: unifiedresto-pgadmin
#    image: dpage/pgadmin4:latest
#    environment:
#      PGADMIN_DEFAULT_EMAIL: admin@unifiedresto.com
#      PGADMIN_DEFAULT_PASSWORD: admin
#    ports:
#      - "5050:80"
#    depends_on:
#      - postgres
#    networks:
#      - unifiedresto-network
#volumes:
#  postgres_data:
#
#networks:
#  unifiedresto-network:
#    driver: bridge

#ultimo  que deu errado  ontem
#services:
#  postgres:
#    container_name: unifiedresto-postgres
#    image: postgres:latest
#    environment:
#      POSTGRES_DB: unifiedresto_db
#      POSTGRES_USER: unifiedresto_user
#      POSTGRES_PASSWORD: adm12345
#    ports:
#      - "5432:5432"
#    volumes:
#      - postgres_data:/var/lib/postgresql/data
#    networks:
#      - unifiedresto-network
#
#  pgadmin:
#    container_name: unifiedresto-pgadmin
#    image: dpage/pgadmin4:latest
#    environment:
#      PGADMIN_DEFAULT_EMAIL: adm@unifiedresto.com
#      PGADMIN_DEFAULT_PASSWORD: adm12345
#    ports:
#      - "5050:80"
#    depends_on:
#      - postgres
#    networks:
#      - unifiedresto-network
#
#  app:
#    container_name: unifiedresto-app
#    build: .
#    working_dir: /app
#    command: mvn spring-boot:run
#    ports:
#      - "8080:8080"
#    depends_on:
#      - postgres
#    environment:
#      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/unifiedresto_db
#      SPRING_DATASOURCE_USERNAME: unifiedresto_user
#      SPRING_DATASOURCE_PASSWORD: adm12345
#      SPRING_DEVTOOLS_RESTART_ENABLED: "true"
#    volumes:
#      - .:/app
#    networks:
#      - unifiedresto-network
#
## Volumes nomeados (fora do services)
#volumes:
#  postgres_data:
#
## Redes (fora do services)
#networks:
#  unifiedresto-network:
#    driver: bridge

#
#
#services:
#  postgres:
#    container_name: unifiedresto-postgres
#    image: postgres:latest
#    environment:
#      POSTGRES_DB: unifiedresto_db
#      POSTGRES_USER: unifiedresto_user
#      POSTGRES_PASSWORD: adm12345
#    ports:
#      - "5432:5432"
#    volumes:
#      - postgres_data:/var/lib/postgresql
#    networks:
#      - unifiedresto-network
#
#  pgadmin:
#    container_name: unifiedresto-pgadmin
#    image: dpage/pgadmin4:latest
#    environment:
#      PGADMIN_DEFAULT_EMAIL: adm@unifiedresto.com
#      PGADMIN_DEFAULT_PASSWORD: adm12345
#    ports:
#      - "5050:80"
#    depends_on:
#      - postgres
#    networks:
#      - unifiedresto-network
#  # Serviço da aplicação Spring Boot
#  app:
#    container_name: unifiedresto-app
#    build: .
#    ports:
#      - "8080:8080"
#    depends_on:
#      - postgres
#    environment:
#      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/unifiedresto_db
#      SPRING_DATASOURCE_USERNAME: unifiedresto_user
#      SPRING_DATASOURCE_PASSWORD: adm12345
#      SPRING_DEVTOOLS_RESTART_ENABLED: "true"  # dentro do environment
#    volumes:
#      - ./src:/app/src   # fora do environment, no mesmo nível de environment
#    networks:
#      - unifiedresto-network
#
#  volumes:
#    postgres_data:
#
#  networks:
#    unifiedresto-network:
#    driver: bridge
#



#  ultim de ontem de teste
#services:
#  postgres:
#    container_name: unifiedresto-postgres
#    image: postgres:latest
#    environment:
#      POSTGRES_DB: unifiedresto_db
#      POSTGRES_USER: unifiedresto_user
#      POSTGRES_PASSWORD: adm12345
#    ports:
#      - "5432:5432"
#    volumes:
#      - postgres_data:/var/lib/postgresql/data
#    networks:
#      - unifiedresto-network
#
#  pgadmin:
#    container_name: unifiedresto-pgadmin
#    image: dpage/pgadmin4:latest
#    environment:
#      PGADMIN_DEFAULT_EMAIL: adm@unifiedresto.com
#      PGADMIN_DEFAULT_PASSWORD: adm12345
#    ports:
#      - "5050:80"
#    depends_on:
#      - postgres
#    networks:
#      - unifiedresto-network
#
#  app:
#    container_name: unifiedresto-app
#    build: .
#    working_dir: /app
#    command: mvn spring-boot:run
#    ports:
#      - "8080:8080"
#    depends_on:
#      - postgres
#    environment:
#      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/unifiedresto_db
#      SPRING_DATASOURCE_USERNAME: unifiedresto_user
#      SPRING_DATASOURCE_PASSWORD: adm12345
#      SPRING_DEVTOOLS_RESTART_ENABLED: "true"
#    volumes:
#      - .:/app
#    networks:
#      - unifiedresto-network
#
## Volumes nomeados (fora do services)
#volumes:
#  postgres_data:
## Redes (fora do services)
#networks:
#  unifiedresto-network:
#    driver: bridge
# sudo systemctl stop postgresql para parar banco docker

version: "3.8"
services:
  postgres:
    container_name: unifiedresto-postgres
    image: postgres:16
    environment:
      POSTGRES_DB: unifiedresto_db
      POSTGRES_USER: unifiedresto_user
      POSTGRES_PASSWORD: adm12345
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - unifiedresto-network
  pgadmin:
    container_name: unifiedresto-pgadmin
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL:  adm@unifiedresto.com
      PGADMIN_DEFAULT_PASSWORD: adm12345
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - unifiedresto-network
    volumes:
        - pgadmin_data:/var/lib/pgadmin # Criou volume persistente do pgAdmin
volumes:
  postgres_data:
  pgadmin_data:  # guarda abase do
networks:
  unifiedresto-network:
    driver: bridge