
version: "3.8"

services:
  postgres:
    container_name: unifiedresto-postgres
    image: postgres:16
    environment:
      POSTGRES_DB: unifiedresto_db
      POSTGRES_USER: unifiedresto_user
      POSTGRES_PASSWORD: adm12345
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - unifiedresto-network

  pgadmin:
    container_name: unifiedresto-pgadmin
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: adm@unifiedresto.com
      PGADMIN_DEFAULT_PASSWORD: adm12345
    ports:
      - "5050:80"
    depends_on:
      - postgres
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - unifiedresto-network

  backend:
    container_name: unifiedresto-backend
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/unifiedresto_db
      SPRING_DATASOURCE_USERNAME: unifiedresto_user
      SPRING_DATASOURCE_PASSWORD: adm12345
    networks:
      - unifiedresto-network

volumes:
  postgres_data:
  pgadmin_data:

networks:
  unifiedresto-network:
    driver: bridge
